.products_container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  padding: 0 15px;
}

.products__title {
  font-size: 24px;
}

.products__productTitle {
  font-size: 16px;
}

.products__card {
  flex: 1 1 33%;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.13);
  color: #000;
}